<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bignerdranch.android.timelog">

    <application
        android:name="com.bignerdranch.android.timelog.TimeLogApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_launch"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_launch"
        android:supportsRtl="true"
        android:theme="@style/Theme.CriminalIntent"
        tools:targetApi="31">
        <activity
            android:name="com.bignerdranch.android.timelog.TimerActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bignerdranch.android.timelog.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.bignerdranch.android.timelog.NoteActivity"
            android:exported="false" />
        <activity
            android:name="com.bignerdranch.android.timelog.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bignerdranch.android.timelog.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>